@page "/"

@using InventoryChecker.Data
@inject ProductService ProductDataService
@inject NavigationManager NavMan

<h1>Categories</h1>
@*<CascadingValue Value="ChosenCategory"></CascadingValue>*@

@if (categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        @foreach (string category in categories)
        {
            <tr>
                <td>
                    <button class="btn btn-primary" style="width: 150px; height: 50px" @onclick='() => GoToProducts(category)'>@category</button>
                </td>
            </tr>
        }
    </table>
}

@code
{
    private List<string> categories = new List<string>();
    public string ChosenCategory { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ProductDataService.CurrentCategory = "";
        categories = await ProductDataService.GetCategories();
    }
    private void GoToProducts(string category)
    {
        ProductDataService.CurrentCategory = category;
        NavMan.NavigateTo("productdata");
    }
}
