@page "/"

@using InventoryChecker.Data
@using InventoryChecker.Data.Entities
@inject ProductService ProductDataService
@inject NavigationManager NavMan

<div style="margin: auto; width: 1000px">
    <div style="display:flex; justify-content: center; border-bottom: 1px solid black">
        <h1>Kategorier</h1>
    </div>
    <br />
    @if (categories == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div style="display: grid; grid-template-columns: auto auto auto auto; grid-gap: 20px">
            @foreach (Category category in categories)
            {
                <div style="margin: auto">
                    <div style="width: 150px; height: 150px">
                        <img class="btn" src=@category.ImageRef style="cursor: pointer; max-width: 150px; border-radius: 50%" @onclick='() => GoToProducts(category.CName)'/>
                    </div>
                    <div style="display:flex; justify-content: center; font-size: 24px; font-style: italic">
                        @category.CName
                    </div>                   
                </div>
            }
        </div>
        <br />
    }
</div>

@code
{
    private List<Category> categories = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        ProductService.CurrentCategory = "";
        categories = await ProductDataService.GetCategories();
    }
    private void GoToProducts(string category)
    {
        ProductService.CurrentCategory = category;
        NavMan.NavigateTo("productdata");
    }
}
