@page "/"

@using InventoryChecker.Data
@using InventoryChecker.Data.Entities
@inject ProductService ProductDataService
@inject NavigationManager NavMan

<h1>Categories</h1>

@if (categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (Category category in categories)
    {
        <button class="btn btn-primary" style="width: 150px; height: 50px" @onclick='() => GoToProducts(category.CName)'>@category.CName</button>
        i++;
        if(i == 5)
        {
            <br />
            <br />
            i = 0;
        }
    }
}

@code
{
    private int i = 0;
    private List<Category> categories = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        ProductService.CurrentCategory = "";
        categories = await ProductDataService.GetCategories();
    }
    private void GoToProducts(string category)
    {
        ProductService.CurrentCategory = category;
        NavMan.NavigateTo("productdata");
    }
}
